<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormLINQ.Properties.Settings.CSLabConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CSLab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormLINQ.Properties.Settings.CSLabDBConnectionString"
            connectionString="Data Source=KEVINKKENNEDY\SQLEXPRESS;Initial Catalog=CSLabDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormLINQ.Properties.Settings.CSLabDBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CSLabDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>